<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>
<h1>Add Author</h1>
<form action="/authors/add" method="post">
    Name: <label>
    <input type="text" name="name"/>
</label> <br>
    Surname: <label>
    <input type="text" name="surname"/>
</label> <br>
    Phone: <label>
    <input type="text" name="phone"/>
</label> <br>
    DateOfBirthday: <label>
    <input type="date" name="dateOfBirthday"/>
</label> <br>
    Gender:
    <label>
        <select name="gender">
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
    </label> <br>
    <input type="submit" value="Add">
</form>
</body>
</html>